

html {
    font-size: 90%;
    font-weight: bold;
    color:aliceblue
    
}

body {
    background-image: url(./src/background2.jpg);
    background-size: 30%;
}

.A {
    font-family: cursive;
}
.kzh {
    color: rgb(67, 39, 42);
    font-size: 30%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.diluc {
    color: rgb(52, 102, 90);
    font-size: 30%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.box1 {
    background-image: linear-gradient(45deg,rgba(241, 255, 249, 0.5),rgba(46, 63, 54, 0.8));
    float: left;
    padding-left: 20px;
    width: 400px;
    margin-right: 20px;
    margin-left: 200px;
    font-size: 5rem;
}

.box2 {
    background-image: linear-gradient(45deg,rgba(255, 243, 243, 0.5),rgb(49, 36, 36,0.8));
    float: left;
    padding-left: 20px;
    width: 400px;
    margin-right: 5px;
    font-size: 5rem;
    
}

#kzhcard {
    border:2px dashed #654242;
    padding:10px;
    margin:15px 30px 
}

#diluccard {
    border:2px dashed #648778;
    padding:10px;
    margin:15px 30px 
}

p {
    font-size: 20%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 20px;
}
#kzhdes {
    margin-bottom: 30px;
}